<header>

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark"">

        <a class="navbar-brand" href="#">Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
           <%if(isAdmin) {%>
            <li class="nav-item">
              <a class="nav-link" id="employee" href="/admin">Employees <span class="sr-only">(current)</span></a>
            </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link" id="performance-page" href="/employee">Performance Reviews <span class="sr-only">(current)</span></a>
              </li>
              <% } %>

              <%if(isAdmin) {%>
            <li class="nav-item">
              <a class="nav-link "id="performance-page"href="/admin/performance-page">Performance Reviews</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link"  id="log-out" href="/auth/sign-out">Log Out</a>
            </li>
          </ul>
        </div>

      </nav>

</header>
